header{
    display: inline-block;
    width: 100%;
}

.navegtion_main_page{
    display: inline-block;
    width: 100%;
}

nav a{
    text-decoration: none;
    color: black;
}

.left_on_page{
    display: inline-block;
    width: 10%;
    margin-right: 100%;
}

.left_on_page img{
    width: 24px;
}

.central_on_page{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-left: 35%;
    text-align: center;
}

.central_on_page a{
    padding: 10px;
    display: inline-block;
}

.right_on_page{
    width: 10%;
    display: inline-block;
    margin-left: 90%;
}

.right_on_page a{
    padding: 10px;
}

.right_on_page img{
    width: 16px;
}

button{
    background-color: black;
    color: white;
}

main{
    margin-left: 25%;
    margin-top: 10%;
}

aside{
    display: inline-block;
    background-color: aqua;
    margin-left: 45%;
    margin-right: 30%;
}